<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">

    <title>PROJECT 2</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="styleshseet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../carousel/slick/slickCss/slick.css"/>
    <link rel="stylesheet" type="text/css" href="../carousel/slick/slickCss/slick-theme.css"/>

    <script type="text/javascript" src="./assets/js/children.js">
    </script>


  </head>

  <body onload="apiCalls()">

<h1>NAME TBD</h1>

<header id="masthead">



 <div class="container">
      <a href="index">home</a>
      <a href="babies">babies</a>
      <a href="parents">parents</a>
    </nav>


          <div class="container">
            <div id="appear">
            </div>
          </div>

</body>
</html>
